<!-- ids must start with text_ video_ image_ -->

<div class="customRenderer">

    <div id="logo">Logo here</div>

    <div class="languages">
        <div id="text_de" class="draggable ot_default">            
            <div class="this_is_red">Text1</div>
            <div class="this_is_red" data-isclone="true">Text2</div>
        </div>
        <div id="text_en" class="draggable ot_default">
            <div id="text_en-child"></div>
            <div id="text_en-child-clone" data-isclone="true"></div>
        </div>
        <div id="text_es" class="ot_default">
            <div></div>
        </div>

    </div>


    <div id="image_de">
        <img alt="" src="">
    </div>

    <div id="video_en">
        <video style="width:300px" alt="" src="" autoplay="" muted="" playsinline></video>
    </div>


    <div id="html_doesnotexist">
        <div>DEFAULT 123</div>
    </div>

</div>

