
.customRenderer {
    border: 1px solid black;
}

.customRenderer #logo {
    background-color: green;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customRenderer #text_de {
    color: orange;
}
.customRenderer #text_en {
    color: green;
}

